<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="jquery/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        [class*="span"] {
            padding: 0px;
            margin: 0px;

        }

        .span12{
            width: 940px;
        }
        .span11{
            width: 861px;
        }
        .span10{
            width: 783px;
        }
        .span9{
            width:705px;
        }
        .span8{
            width:626px;
        }
        .span7{
            width: 548px;
        }
        .span6{
            width:470px;
        }
        .span5{
            width: 391px;
        }
        .span4{
            width: 313px;
        }
        .span3{
            width:235px;
        }
        .span2{
            width:156px;
        }
        .span1{
            width:78px;
        }

    </style>
</head>
<body>
<div class="container">
    <div style="background-color: #00B76D;margin-left:0px;padding-left:20px;">
        <div class="row">
            <div class="span12" style="background-color:beige">
                <div class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav" style="font-weight: bold;font-size: 18px">
                        <li class="active"><a href="##">网站首页</a></li>
                        <li><a href="http://www.163.com" target="_blank">系列教程</a></li>
                        <li><a href="http://www.baidu.com" target="_blank">名师介绍</a></li>
                        <li><a href="##">成功案例</a></li>
                        <li><a href="##">关于我们</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="span12" >
                <!--<h1>我们一家三口人：儿子，老婆和我。儿子叫魏运祺，老婆叫张玲华，我叫何平。</h1>-->
                <img src="bestbanner.gif">
            </div>
        </div>

        <div class="row" >
            <div class="span4" style="margin-top: 0px;padding-top: 0px;margin-bottom: 0px;padding-bottom: 0px">
                <img src="1113.jpg" style="margin-top: 0px;padding-top: 0px" alt="对不起，您的图跑丢了">
            </div>
            <div class="span4" style="margin-top: 0px;padding-top: 0px;margin-bottom: 0px;padding-bottom: 0px">
                <img src="img1/33.jpg" style="margin-top: 0px;padding-top: 0px">
            </div>
            <div class="span4" style="margin-top: 0px;padding-top: 0px;margin-bottom: 0px;padding-bottom: 0px">
                <img src="img1/22.jpg" style="margin-top: 0px;padding-top: 0px">
            </div>

        </div>

        <div class="row">

            <div class="span6 ">
                <dl><img src="img1/44.jpg"></dl>
                <dt><h3>儿子和我，摄于2014年</h3></dt>

            </div>
            <div class="span6">
                <dl><img src="img1/55.jpg"></dl>
                <dt><h3>父亲，母亲，摄于家中</h3></dt>

            </div>

        </div>

        <div class="row" >
            <hr style="margin-top: -2px;padding-top: -2px">
            <div class="span9" >
                <dl><img src="wu1.png " style="width: 705px;"></dl>
                <dt><h4 style="text-align: center">沙市家照片</h4></dt>

            </div>
            <div class="span3">
                <dl><img src="add/f9.jpg">
                </dl>
                <dt></dt>


            </div>

        </div>
        <div class="row">
            <hr>
            <div class="span9" >
                <dl><img src="wifeinwater.jpg " style="width: 705px"></dl>
                <dt><h4 style="text-align: center">美人鱼 my front wife</h4></dt>

            </div>
            <div class="span3">
                <dl><img src="add/f8.jpg">
                </dl>
                <dt>人生得意须尽欢，莫使金樽空对月。</dt>


            </div>

        </div>
        <div class="row">
            <div class="span9" >
                <hr style="background-color: yellow;margin-top: 0px;padding-top: 0px">
                <ol><h3>7月19日，开始写些东西,bootstrap去掉div中间间隙。</h3>
                <li><h4>先将padding和magin调为零，再设span的宽度。不过，offset不能用了，可以用span替代的方法。</h4></li>
                </ol>
            </div>
            <div class="span3">
                <dl><img src="add/f1.jpg">
                </dl>
                <dt>执子之手，与子携老。</dt>
            </div>
        </div>

        <div class="row">
            <div class="span9">
                <hr>
                <xmp>
                    <!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <meta http-equiv="X-UA-Compatible" content="ie=edge">
                        <title>Document</title>
                        <script src="jquery-3.4.1.min.js"></script>
                        <script src="filesave.js"></script>
                        <script src="angular.js"></script>
                    </head>
                    <body>
                    <div ng-app="myApp" ng-controller="myController">
                        <h2>我的笔记</h2>
                        <form>
                            <textarea ng-model="message" rows="10" cols="40"></textarea>
                            <P>
                                <button ng-click="save()">保存</button>
                                <button ng-click="clear()">清空</button>
                            </P>
                        </form>
                        <h2>剩余字数：<span ng-bind="left()"></span></h2>

                    </div>
                    <script>
                        var app = angular.module("myApp", []);
                        app.controller("myController", function ($scope) {
                            $scope.message = '';
                            $scope.save = function () {
                                // alert("notes save!");

                                var content = $scope.message.value;
                                var blob = new Blob([content], {type: "text/plain;charset=utf-8"});
                                saveAs(blob, "file1.txt"); //saveAs(blob,filename)


                            }
                            $scope.clear = function () {
                                $scope.message = '';
                            }
                            $scope.left = function () {
                                return 100 - $scope.message.length;
                            }
                        })
                    </script>


                    </body>
                    </html>

                </xmp>



            </div>
            <div class="span3">
                <dl><img src="add/f4.jpg">
                </dl>
                <dt>生命可贵，爱情价高。</dt>
            </div>
        </div>

        <div class="row">
            <div class="span9">
                <hr style="background-color: yellow;margin-top: 0px;padding-top: 0px" >
                <ol><h3>7月20日，cdr可导入cad图</h3>
                    <li><h4>cdr导入cad图，很方便。导入后再编辑。</h4></li>
                </ol>
            </div>
            <div class="span3">
                <dl><img src="add/f4.jpg">
                </dl>
                <dt>生命可贵，爱情价高。</dt>
            </div>
        </div>
        <div class="row">
            <div class="span9">
                <hr style="background-color: yellow;margin-top: 0px;padding-top: 0px" >
                <ol><h3>7月21日，今天无甚说的</h3>
                    <h4>  <pre style="background:none;border: none;margin-left: -180px;font-size: 16px">
                        天净沙·秋思
                              -马致远
                        枯藤老树昏鸦，小桥流水人家，
                        古道西风瘦马。夕阳西下，断肠人在天涯。

                    </pre></h4>
                </ol>
            </div>
            <div class="span3">
                <dl><img src="add/f5.jpg">
                </dl>
                <dt>授人以鱼，不如授人以渔。</dt>
            </div>
        </div>
        <div class="row">
            <div class="span9">
                <hr style="background-color: yellow;margin-top: 0px;padding-top: 0px" >
                <ol><h3>7月22日，cdr图形属性可复制，像格式刷一样</h3>
                    <li><h4>
                        用图片填充图形时，可定义图片是否和图形同步旋转。
                    </h4></li>
                </ol>
            </div>
            <div class="span3">
                <dl><img src="add/f8.jpg">
                </dl>
                <dt>蓬生麻中，不扶而直。白沙在涅，与之俱黑。</dt>
            </div>
        </div>
        <div class="row">
            <div class="span9">
                <hr style="background-color: yellow;margin-top: 0px;padding-top: 0px" >
                <ol><h3>7月23日，cdr图形可标尺寸</h3>
                    <li><h4>
                        cdr曲线有很多功能。
                    </h4></li>
                    <li><h4>
                        有室内设计图块，搞室内设计也容易。
                    </h4></li>
                </ol>
            </div>
            <div class="span3">
                <dl><img src="add/f9.jpg">
                </dl>
                <dt>疏影横斜水清浅，暗香浮动月黄昏。</dt>
            </div>
        </div>
        <div class="row">
            <div class="span9">
                <hr style="background-color: yellow;margin-top: 0px;padding-top: 0px" >
                <ol><h3>7月25，26日，周末休息</h3>

                </ol>
            </div>
            <div class="span3">
                <dl><img src="add/f10.jpg">
                </dl>
                <dt>鸟宿池边树,僧敲月下门。</dt>
            </div>
        </div>
        <div class="row">
             <hr>
            <div class="span10 " style="margin-left: 150px">
                <dl><img src="jia1.png"></dl>
                <dt><h3>看看家的照片</h3></dt>

            </div>


        </div>
        <div class="row">
            <div class="span9">
                <hr style="background-color: yellow;margin-top: 0px;padding-top: 0px" >
                <ol><h3>7月27日，cdr可自定笔刷</h3>
                    <li><h4>
                        cdr也有网格功能
                    </h4></li>

                </ol>
            </div>
            <div class="span3">
                <dl><img src="add/f11.jpg">
                </dl>
                <dt>会当凌绝顶，一览众山小。</dt>

        </div>

    </div>
        <div class="row">
            <hr>
            <div class="span6 " style="margin-left: 200px">
                <dl><img src="jia2.png"></dl>
                <dt><h4>沙市家的照片</h4></dt>

            </div>


        </div>
        <div class="row">
        <hr>
        <div class="span11 " style="margin-left: 30px">
            <dl><img src="office.png"></dl>
            <dt><h4 style="text-align: center">办公室的照片</h4></dt>

        </div>


    </div>
        <div class="row">
            <hr>
            <div class="span11 " style="margin-left: 30px">
                <dl><img src="officeandone.png"></dl>
                <dt><h4 style="text-align: center">办公室的照片</h4></dt>

            </div>


        </div>
        <div class="row">
            <hr>
            <div class="span9 ">
                <dl><img src="融锌炉.jpg"></dl>
                <dt><h4 style="text-align: center">专利图</h4></dt>

            </div>
            <div class="span3">
            <dl><img src="add/f12.jpg">
            </dl>
            <dt>寒塘渡鹤影，冷月伴孤魂。</dt>
            <hr>
            <ol>
                <li>阿富汗塔利班发言人穆罕默德·纳伊姆15日宣布，塔利班武装人员已进入并控制了首都喀布尔，“阿富汗的战争已经结束”。塔利班控制下的喀布尔当下局势如何？各方是否会成立过渡政权？各方对阿富汗局势重大变化做何反应？</li>
            </ol>

        </div>

</div>
        <div class="row">
        <hr>
        <div class="span9 ">
            <dl><img src="zhouwang.jpg"></dl>
            <dt><h4 style="text-align: center">建筑轴网图</h4></dt>

        </div>
        <div class="span3">
            <dl><img src="add/f13.jpg">
            </dl>
            <dt>一切美好只是昨日沉醉。</dt>


        </div>

    </div>
        <div class="row">
            <hr>
            <div class="span9" >
                <dl><embed src="捕获%2001.mp4 " style="width: 705px;height: 600px"></dl>
                <dt><h4 style="text-align: center">建筑PKPM</h4></dt>

            </div>
            <div class="span3">
                <dl><img src="add/f14.jpg">
                </dl>
                <dt>人面不知何处去，桃花依旧笑春风。</dt>


            </div>

        </div>
        <div class="row">
            <hr>
            <div class="span9" >
                <dl><embed src="mymovieok.mp4" style="width: 705px;height:395px"></dl>

                <dt><h4 style="text-align: center">我和儿子</h4></dt>

            </div>
            <div class="span3">
                <dl><img src="add/f15.jpg">
                </dl>
                <dt>人生得意需尽欢，莫使金樽空对月。</dt>


            </div>

        </div>
        <div class="row">
            <hr>
            <div class="span9" >
                <dl>2021年9月6日，周末在家编了几部MTV</dl>

                <dt></dt>

            </div>
            <div class="span3">
                <dl><img src="add/f16.jpg">
                </dl>
                <dt>山穷水复疑无路，柳暗花明又一村。</dt>


            </div>

        </div>
        <div class="row">
        <hr>
        <div class="span9" >
            <dl><embed src="meiduanlu.mp4 " style="width: 705px;height: 600px"></dl>
            <dt><h4 style="text-align: center">吕方 每段路</h4></dt>

        </div>
        <div class="span3">
            <dl><img src="add/f18.jpg">
            </dl>
            <dt>但愿人长久，千里共婵娟。</dt>


        </div>

    </div>
        <div class="row">
            <hr>
            <div class="span9" >
                <dl><embed src="观鹅图.mp4 " style="width: 705px;height: 600px"></dl>
                <dt><h4 style="text-align: center">观鹅图</h4></dt>

            </div>
            <div class="span3">
                <dl><img src="add/f19.jpg">
                </dl>
                <dt>好好学习，天天向上。</dt>


            </div>

        </div>
        <div class="row">
            <hr>
            <div class="span9" >
                <dl><img src="sunplanet.jpg " style="width: 705px;height: 600px"></dl>
                <dt><h4 style="text-align: center">结构简图</h4></dt>

            </div>
            <div class="span3">
                <dl><img src="add/f10.jpg">
                </dl>
                <dt>就右边的结构图，您也许不知道它的实际意义。好多公司就靠这个算式发达。难怪都说要保密，公司如此，国家也如此。</dt>


            </div>

        </div>

</body>
</html>