* {
    margin:0;
    padding:0;
}
.box {
    /*position:absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    /*transform:translate(-50%,-50%);*/
    /*width:100%;*/
    width: 200px;
    height: 100px;
}
.box .times>span {
    font-size:16px;
}
#start1 {
    border:none;
    outline:none;
    font-size:16px;
    padding:4px 10px;
    border-radius:6px;
    background:pink;
}
#end1 {
    border:none;
    outline:none;
    font-size:16px;
    padding:4px 10px;
    border-radius:6px;
    background:orangered;
}
#reset1 {
    border:none;
    outline:none;
    font-size:16px;
    padding:4px 10px;
    border-radius:6px;
    background:skyblue;
}
.times {
    width:100%;
    text-align:center;
    padding:10px 0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.con {
    display:flex;
    justify-content:space-around;
    width:100%;
}